body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(214, 214, 214);
  margin: 0 auto;
  max-width: 1600px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: orangered;
  color: #fff;
  padding: 5px 150px;
  margin: 0 auto;
  position: relative;
}

header nav .nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  margin-bottom: 5px;
  padding: 15px;
}

header nav .nav__top .nav__top__div {
  display: flex;
  gap: 15px;
}

header nav .nav__top .nav__top__div .top__div__p {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

header nav .nav__top .nav__top__div .top__div__btn {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

header nav .nav__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

header nav .nav__bottom .menuBtn {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background: transparent;
  position: relative;
}

header nav .nav__bottom .menuBtn::before,
header nav .nav__bottom .menuBtn::after {
  content: "";
  width: 30px;
  height: 1px;
  background: #fff;
  position: absolute;
}

header nav .nav__bottom .menuBtn:before {
  top: 0;
  left: 0;
}

header nav .nav__bottom .menuBtn:after {
  bottom: 0;
  left: 0;
}

header nav .nav__bottom .menuBtn div {
  width: 30px;
  height: 1px;
  background: #fff;
}

header nav .nav__bottom .nav__bottom__logo {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}

header nav .nav__bottom .nav__bottom__int {
  width: 75%;
}

header nav .nav__bottom .nav__bottom__int .bottom__bas__inp {
  display: flex;
  gap: 10px;
}

header nav .nav__bottom .nav__bottom__int .bottom__bas__inp a {
  background: transparent;
  color: #fff;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .nav__bottom .nav__bottom__int .bottom__bas__inp .button .basket {
  width: 18px;
  height: 18px;
  position: absolute;
  color: orangered;
  background: #fff;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .nav__bottom .nav__bottom__input {
  width: 100%;
  height: 36px;
  position: relative;
  font-size: 15px;
  padding: 2px 2px;
}

header nav .nav__bottom .nav__bottom__categories {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

header nav .nav__bottom .nav__bottom__categories a {
  text-decoration: none;
  color: #fff;
}

.products {
  width: 100%;
  padding: 30px 130px;
  background: rgb(225, 225, 225);
}

.products .See__products {
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 10px 15px;
  font-size: 22px;
  line-height: 22px;
  color: rgb(112, 112, 112);
  border-left: 6px solid orangered;
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.products .carts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.products .carts .cart {
  width: 240px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid rgb(196, 196, 196);
  transition: linear all 300ms;
  position: relative;
  text-decoration: none;
  color: black;
}

.products .carts .cart:hover {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(34, 60, 80, 0.54);
  -moz-box-shadow: 0px 0px 24px 0px rgba(34, 60, 80, 0.54);
  box-shadow: 0px 0px 24px 0px rgba(34, 60, 80, 0.54);
}

.products .carts .cart img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.products .carts .cart .cart__desc {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.products .carts .cart .category {
  background-color: #f94e30;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  font-size: 13px;
  left: -5px;
  padding: 0.2rem 1rem;
  position: absolute;
  text-transform: capitalize;
  top: 1.5rem;
}

.products .carts .cart .category::after {
  border-bottom: 5px solid transparent;
  border-right: 5px solid #f94e30;
  border-top: 5px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  width: 0;
}

.products .carts .cart .cart__desc .desc__brand {
  width: 90%;
  border-bottom: 1px solid rgb(225, 225, 225);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.products .carts .cart .cart__desc .desc__brand b {
  font-size: 14px;
  line-height: 14px;
}

.products .carts .cart .cart__desc .desc__prices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.products .carts .cart .cart__desc .redLine {
  width: 70px;
  height: 1px;
  background: orangered;
}

.product__detail {
  padding: 50px 0;
}

.product__detail .product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  background: #fff;
  max-width: 1220px;
  margin: 0 auto;
}

.product__detail .product .product__left {
  width: 50%;
}

.product__detail .product .product__left .main__img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.product__detail .product .left__bottom {
  display: flex;
  gap: 5px;
}

.product__detail .product .left__bottom .img__list {
  transition: linear all 200ms;
  width: 25%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.product__detail .product .left__bottom .img__list:hover {
  border: 3px solid orangered;
  padding: 8px;
}

.product__detail .product .left__bottom .img__list .bottom__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product__detail .product .product__rihgt {
  width: 47%;
  text-align: left;
}

.product__detail .product .product__rihgt h2 {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid rgb(213, 213, 213);
}

.product__detail .product .product__rihgt .right__desc {
  color: rgb(80, 80, 80);
  font-size: 17px;
  line-height: 22px;
  margin: 10px 0;
}

.product__detail .product .product__rihgt .RBC {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product__detail .product .product__rihgt .RBC p {
  padding: 0 10px;
}

.product__detail .product .product__rihgt .RBC .brand {
  border-right: 2px solid orangered;
  border-left: 2px solid orangered;
}

.product__detail .product .product__rihgt .RBC b {
  font-weight: 400;
  color: orangered;
}

.product__detail .product .product__rihgt .pricment {
  width: 100%;
  padding: 25px 15px;
  background: rgb(248, 248, 248);
  margin: 20px 0;
}

.product__detail .product .product__rihgt .pricment .price b {
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 7px;
  color: rgb(145, 145, 145);
}

.product__detail .product .product__rihgt .pricment .percented__Price {
  margin-top: 20px;
  font-size: 27px;
  color: orangered;
}

.product__detail .product .product__rihgt .pricment .percented__Price span {
  padding: 3px;
  background: orangered;
  color: #fff;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 14px;
}

.product__detail .product .product__rihgt .quantity {
  display: flex;
  gap: 20px;
  align-items: center;
}

.product__detail .product .product__rihgt .quantity .counter,
.basketSec .backetSec__NamingDiv .counter {
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
  align-items: center;
  line-height: 15px;
}

.product__detail .product .product__rihgt .quantity .counter button,
.basketSec .backetSec__NamingDiv .counter button {
  background: transparent;
  border: none;
  border-right: 1px solid rgb(196, 196, 196);
  border-left: 1px solid rgb(196, 196, 196);
  width: 28%;
  height: 100%;
}

.product__detail .product .product__rihgt .btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.product__detail .product .product__rihgt .btns .Add {
  padding: 10px 20px;
  background: rgb(255, 223, 228);
  color: orangered;
  border: 1px solid orangered;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  transition: linear all 300ms;
}

.product__detail .product .product__rihgt .btns .Add:hover {
  background: rgb(255, 144, 161);
}

.product__detail .product .product__rihgt .btns .Buy {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  background: orangered;
  border: none;
  cursor: pointer;
  transition: linear all 300ms;
}

.product__detail .product .product__rihgt .btns .Buy:hover {
  background: rgb(255, 128, 82);
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  gap: 20px;
  margin: 30px 100px;
  padding: 5px;
}

.Login input {
  background: rgb(185, 185, 185);
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.Login .error__message {
  color: red;
}

.Login button {
  padding: 5px 10px;
  background: orangered;
  border: none;
  cursor: pointer;
  transition: linear all 300ms;
  border-radius: 3px;
}

.Login form button:hover {
  background: rgb(253, 103, 48);
}

.basketSec {
  width: 100%;
  padding: 25px 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #e4e4e4;
}

.basketSec .nothing {
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basketSec .nothing p {
  font-size: 18px;
  line-height: 18px;
  margin: 5px 0;
  color: rgb(135, 135, 135);
}

.basketSec .backetSec__NamingDiv {
  background: #fff;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.basketSec .Not__Naming {
  margin-bottom: 0;
  border-bottom: 1px solid rgb(135, 135, 135);
  padding: 25px;
}

.basketSec .backetSec__NamingDiv .TotalPrice {
  color: red;
}

.basketSec .backetSec__NamingDiv button {
  border: none;
  background: transparent;
  font-size: medium;
  cursor: pointer;
}

footer {
  width: 100%;
  background: rgb(255, 68, 0);
  padding: 38.5px;
  color: #fff;
  font-size: 14px;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer .div__top {
  display: flex;
}

footer .div__top p {
  padding: 0 20px;
}

footer .div__top .center {
  border-right: 2px solid rgb(255, 156, 120);
  border-left: 2px solid rgb(255, 156, 120);
}

@media screen and (max-width: 1000px) {
  header nav .nav__bottom .nav__bottom__categories a {
    font-size: 14px;
    line-height: 14px;
  }
  .basketSec {
    padding: 20px 70px;
  }
}

@media screen and (max-width: 900px) {
  header nav .nav__bottom .nav__bottom__int .bottom__bas__inp input {
    display: none;
  }
  header .nav .nav__bottom {
    gap: 15px;
  }
  header nav .nav__bottom .nav__bottom__categories {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: -4px;
    right: -100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: orangered;
    z-index: 99;
    transition: linear all 300ms;
    gap: 0;
  }
  header nav .nav__bottom .active {
    right: 0;
  }
  header nav .nav__bottom .activeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
  }
  header nav .nav__bottom .activeBtn div {
    display: none;
  }
  header nav .nav__bottom .activeBtn::before {
    top: 15px;
    transform: rotate(45deg);
  }
  header nav .nav__bottom .activeBtn::after {
    bottom: 14px;
    transform: rotate(-45deg);
  }
  header nav .nav__bottom .nav__bottom__categories a {
    padding: 15px;
    font-size: 15px;
    line-height: 15px;
    border-bottom: 1px solid #fff;
  }
  header nav .nav__bottom .nav__bottom__categories a:hover {
    background: rgb(255, 98, 40);
  }
}

@media screen and (min-width: 900px) {
  header nav .nav__bottom .menuBtn {
    display: none;
  }
}

@media screen and (max-width: 810px) {
  header nav .nav__top {
    flex-direction: column;
    gap: 10px;
  }
  .products {
    padding: 30px 20px;
  }
  .product__detail {
    padding: 50px 50px;
  }
  .basketSec {
    padding: 10px 30px;
    font-size: small;
  }
  .basketSec .backetSec__NamingDiv .counter {
    width: 50px;
    height: 17px;
  }
  .basketSec .backetSec__NamingDiv .title {
    width: 40px;
  }
}

@media screen and (max-width: 760px) {
  .product__detail .product {
    flex-direction: column;
  }
  .product__detail .product .product__left,
  .product__detail .product .product__rihgt {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 5px 80px;
  }
  .product__detail {
    padding: 50px 50px;
  }
}

@media screen and (max-width: 540px) {
  .products .carts .cart {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 440px) {
  header {
    padding: 5px 50px;
  }
  header nav .nav__bottom .nav__bottom__categories {
    width: 200px;
  }
  header nav .nav__top {
    font-size: 8px;
    line-height: 10px;
  }
  .product__detail {
    padding: 20px;
  }
  .basketSec {
    padding: 10px 7px;
    font-size: 10px;
  }
  footer .div__top {
    font-size: 10px;
    line-height: 12px;
  }
}
